# Xcode
archive/
Vitamio.build/
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap

#CocoaPods
Pods


misc

ffmpeg/ffmpeg
ffmpeg/ffmpeg_g
ffmpeg/ffserver
ffmpeg/ffserver_g
ffmpeg/config.*

*.[od]
*.pc

*.1

*.perspective


build
._*
project.xcworkspace

.git.bak


*._*
*.swn
*.exe
*.tgz
*.gz
*.zip
*.bz2
*.rar
*.7z
*.tar
*.jar
*.iso
.svn
man
*.o
*.lo
*.la
*.al
*.pyc
*.pyo
*.rej
cscope.*
GTAGS
GRTAGS
GPATH
tags
*swo
*.scc
*~
#*#
.#*
*.swp
